body {
  background-color: #498d9523;
  margin: 0px;
}

@media screen and (min-width: 640px) {
  .Topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #498d95;
    height: 50px;
  }

  .locationPortion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%
  }

  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    /* border-radius:10px; */
    padding: 5px 9px 5px 9px;

  }

  .location span {
    /* font-size:20px; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Nunito Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;

  }

  .NotificationCart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 1% 0px 1%;
    /* gap:6%; */
  }

  .Topnav input {
    width: 20%;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: rgb(36, 36, 36);
    font-family: 'Nunito Sans', sans-serif;
  }

  .rechargeCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    border-radius: 20px;
    border: 0ps solid transparent;
  }

  .rechargeCard img {
    width: 50%;
    height: 20%;
    border-radius: 20px;
    object-fit: cover;
    border: 0ps solid transparent;
    box-shadow: 2px 1px 3px rgb(135, 135, 135, 0.179),
      -1px -1px 3px rgba(135, 135, 135, 0.179);
  }

  .selectOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1% 30% 1% 30%;
    /* width:50%; */
    background-color: rgb(255, 255, 255);
    padding: 1%;
    box-shadow: 2px 1px 3px rgb(135, 135, 135, 0.179),
      -1px -1px 3px rgba(135, 135, 135, 0.179);
    border-radius: 20px;
    ;

    gap: 5%;
  }

  .selectOptions span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #498d95;
    font-size: 14px;
    margin-bottom: 5%;
  }
  
  .Heading {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: white;
    padding: 1.5% 5% 1.5% 5%;
    border-radius: 10px;
    margin: 0 20% 2% 20%;
    box-shadow: 1px 1px 3px rgb(135, 135, 135, 0.179),
      -1px -1px 3px rgba(135, 135, 135, 0.179);
    /* justify-content: center; */
    /* align-items:start; */
    font-size: 16px;
    color: #1f5a60;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Space Grotesk', sans-serif; */
  }

  .constructionBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1.5% 5% 1.5% 5%;
    border-radius: 10px;
    margin: 0 20% 2% 20%;
    box-shadow: 1px 1px 3px rgb(135, 135, 135, 0.179),
      -1px -1px 3px rgba(135, 135, 135, 0.179);
  }

  .titleBlock {
    font-family: 'Poppins', sans-serif;
    color: #1f5a60;
    padding:0px 10% 0px 10%;
    border: solid;
    border-width: 2px;
    border-color: rgb(92, 92, 92);
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .coverblockportion{
    margin-top: 2%;
    padding:3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:2px solid #498d95;
    border-radius: 5px;
  }
  .coverblockportion img{
    width:50px;
    height:50px;
  }
  .name{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;;
  }
  .offertext{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;;
    font-weight:600;
  }
  .offertextRed{
    color:rgb(205, 2, 2);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight:600;
  }
  .HeaderPart{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #498d9552;
    padding:2%;
    margin: 0 20% 2% 20%;
    border-radius: 10px;
  }
  .HeaderPart span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
   
    font-weight:600;
    color:#1f5a60;
    
  }
  .normalHead{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .DisplayOptions{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap:3%;
    /* width:100%; */
    margin: 0 20% 2% 20%;
    padding:1%;
    overflow:scroll; 
  }
  .ItemCardsPortion{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    border-radius: 8px;
    background-color: white;
    width:135px;
    padding:3px;
    box-shadow: 1px 2px 3px rgb(135, 135, 135, 0.179),
    -1px -2px 3px rgba(135, 135, 135, 0.179);
  }
.ItemCardImage{
  border-radius: 5px;
  width:135px;
  height:80px;
  margin-top: 4px;

}
.itemcardname{
  font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight:600;
    color:#212222;
    
}
.itemcarddesc{
  font-family: 'Poppins', sans-serif;
    font-size: 14px;
    /* font-weight:600; */
    color:#1f5a60;
    
}
.itemcardPrice{
  font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight:600;
    color:#212222;
}
.ItemCardSelect{
  display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color:#212222;
}
.ItemCardText{
  display: flex;
  flex-direction:column;
  justify-content: left;
  padding-left:4%
}
.itemcardPriceOff{
  font-family: 'Nunito', sans-serif;
    font-size: 12px;
    /* font-weight:600; */
    color:#212222;
    text-decoration:line-through ;
}
.itemcardOptions{
  padding:2px;
  margin-left:1%;
  width:70%;
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
}
.ItemCardSelect select{
  
  font-family: 'Poppins', sans-serif;
}
.ItemCardSelect select option{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color:#212222;
}
.Instock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:green;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.contactPortion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  padding:2%;
  height:100px;
  border-radius:6px;
  box-shadow: 2px 1px 3px rgb(135, 135, 135, 0.179),
  -1px -1px 3px rgba(135, 135, 135, 0.179);
}
.Letter{
  color:#59ccd9;
  border-radius:6px;
  padding:3% 25% 3% 25%;
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  font-weight: 600;
  background-color: #1f5a60;
}
.ContactName{
  margin-top:4%;
  color:black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  /* font-weight: 600; */
}
.Service{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap:3%;
  margin-bottom:10%
}
.servicePortion{
  border-radius: 8px;
  padding:2%;
  background-color: white;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color:#1f5a60;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  box-shadow: 2px 1px 3px rgb(135, 135, 135, 0.179),
  -1px -1px 3px rgba(135, 135, 135, 0.179);
}
}


@media screen and (max-device-width: 640px) {

  .Topnav {
    display: flex;
    flex-direction: column;
    padding: 2% 6% 0% 6%;
    text-align: center;
    background-color: #498d95;

    position: fixed;
    width:91%;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .locationPortion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* width:50% */
    gap: 10px;
    margin-bottom: 3%;
  }

  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    /* gap:20px; */
    padding: 3px 14px 3px 14px;

  }

  .location span {
    margin: 0;
    font-size: 14px;
    flex-wrap: nowrap;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Nunito Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;

  }

  .NotificationCart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 1% 0px 1%;
    gap: 10px;
    /* gap:6%; */
  }

  .Topnav input {
    width: 90%;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid white;
    color: rgb(36, 36, 36);
    font-family: 'Nunito Sans', sans-serif;
  }

  .rechargeCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 20px;
    ;
    border: 0ps solid transparent;
  }

  .rechargeCard img {
    width: 95%;
    height: 40%;
    border-radius: 20px;
    border: 0ps solid transparent;
    box-shadow: 2px 1px 3px rgb(135, 135, 135, 0.179),
      -1px -1px 3px rgba(135, 135, 135, 0.179);
  }

  .selectOptions {
    /* margin-top: 2%; */
    background-color: white;
    padding: 2%;
    margin: 3%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    text-align: center;
    gap: 2%;
    /* height:20%; */
    box-shadow: 1px 1px 3px rgb(135, 135, 135, 0.179),
      -1px -1px 3px rgba(135, 135, 135, 0.179);
  }

  .selectOptions span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #498d95;
    font-size: 12px;
    /* margin-bottom: 20%; */

  }
/* .NavText{
  margin-bottom:5%
} */

  .Heading {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: white;
    padding: 1.5% 5% 1.5% 5%;
    border-radius: 10px;
    margin: 0 3% 2% 3%;
    box-shadow: 1px 1px 3px rgb(135, 135, 135, 0.179),
      -1px -1px 3px rgba(135, 135, 135, 0.179);
    font-size: 16px;
    color: #1f5a60;
    font-family: 'Poppins', sans-serif;
    
  }

  .constructionBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1.5% 5% 1.5% 5%;
    border-radius: 10px;
    margin: 0 3% 2% 3%;
    box-shadow: 1px 1px 3px rgb(135, 135, 135, 0.179),
      -1px -1px 3px rgba(135, 135, 135, 0.179);
  }

  .titleBlock {
    font-family: 'Poppins', sans-serif;
    color: #1f5a60;
    padding:0px 10% 0px 10%;
    border: solid;
    border-width: 2px;
    border-color: rgb(92, 92, 92);
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .coverblockportion{
    margin-top: 2%;
    padding:3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:2px solid #498d95;
    border-radius: 5px;
  }

  .coverblockportion img{
    width:50px;
    height:50px;
  }
  .name{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;;
  }
  .offertext{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;;
    font-weight:600;
  }
  .offertextRed{
    color:rgb(205, 2, 2);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight:600;
  }
  .HeaderPart{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #498d9552;
    padding:2%;
    margin: 0 3% 2% 3%;
    border-radius: 10px;
  }
 
  .HeaderPart span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
   
    font-weight:600;
    color:#1f5a60;
    
  }
  .normalHead{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .DisplayOptions{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap:3%;
    /* width:100%; */
    margin:1% 2% 1% 2%;
    padding:1%;
    overflow:scroll; 
  }
  .ItemCardsPortion{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    border-radius: 8px;
    background-color: white;
    width:135px;
    padding:3px;
    box-shadow: 1px 2px 3px rgb(135, 135, 135, 0.179),
    -1px -2px 3px rgba(135, 135, 135, 0.179);
  }
.ItemCardImage{
  border-radius: 5px;
  width:135px;
  height:80px;
  margin-top: 4px;

}
.itemcardname{
  font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight:600;
    color:#212222;
    
}
.itemcarddesc{
  font-family: 'Poppins', sans-serif;
    font-size: 14px;
    /* font-weight:600; */
    color:#1f5a60;
    
}
.itemcardPrice{
  font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight:600;
    color:#212222;
}
.ItemCardSelect{
  display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color:#212222;
}
.ItemCardText{
  display: flex;
  flex-direction:column;
  justify-content: left;
  padding-left:4%
}
.itemcardPriceOff{
  font-family: 'Nunito', sans-serif;
    font-size: 12px;
    /* font-weight:600; */
    color:#212222;
    text-decoration:line-through ;
}
.itemcardOptions{
  padding:2px;
  margin-left:1%;
  width:70%;
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
}
.ItemCardSelect select{
  
  font-family: 'Poppins', sans-serif;
}
.ItemCardSelect select option{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color:#212222;
}
.Instock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:green;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.contactPortion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  padding:2%;
  height:100px;
  border-radius:6px;
  box-shadow: 2px 1px 3px rgb(135, 135, 135, 0.179),
  -1px -1px 3px rgba(135, 135, 135, 0.179);
}
.Letter{
  color:#59ccd9;
  border-radius:6px;
  padding:3% 25% 3% 25%;
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  font-weight: 600;
  background-color: #1f5a60;
}
.ContactName{
  margin-top:4%;
  color:black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  /* font-weight: 600; */
}
.Service{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap:3%;
  margin-bottom:20%
}
.servicePortion{
  border-radius: 8px;
  padding:2%;
  background-color: white;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color:#1f5a60;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  box-shadow: 2px 1px 3px rgb(135, 135, 135, 0.179),
  -1px -1px 3px rgba(135, 135, 135, 0.179);
}
.logo{
  width:39px;height:39px;
  background-color: #498d95;
  /* padding:50%; */
  padding:7% 10% 7% 10%;
  border-radius: 8px;
}
.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3% 1% 3%;
  background-color: white;
  width: 95%;
  gap:9%;
}



}